@import '../../../../styles.scss';

.card {
    border-radius: 5px;
    border: 1px solid $light_blue;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: justify;
    grid-gap: 20px;
}

.subtitle {
    font-weight: bold;
}

.buttons {
    gap: 12px;
    display: flex;
    justify-content: center;
}