<div class="card">
    <div class="card-left">
        <h3>{{ course.title }}</h3>
        <p>{{ course.description }}</p>
    </div>
    <div class="card-right">
        <p><span class="subtitle">Authors: </span>{{ course.authors | stringJoiner : ", "}}</p>
        <p><span class="subtitle">Duration: </span>{{course.duration | duration }}</p>
        <p><span class="subtitle">Created: </span>{{ course.creationDate | creationDate }}</p>
        <div class="buttons">
            <ng-content></ng-content>
        </div>
    </div>
</div>
