<app-header>
    <ng-template [ngIf]="authService.isAuthorized$ | async">
        <p>{{ user }}</p>
        <app-button buttonText="logout"
        (click)="logout()">
        </app-button>
    </ng-template>
</app-header>
<app-search (searchEvent)="handleSearch($event)"></app-search>
<app-course-list 
    [courses]="coursesStoreService.courses$"
    [editable]="editable"
    (removeEvent)="removeItem($event)"
    (editEvent)="editItem($event)"
    (showEvent)="showItem($event)">
</app-course-list>
<ng-template [ngIf]="showDeleteModal">
    <app-modal
        title="Are you sure?"
        message="Do you want to delete the course?"
        okButtonText="OK"
        cancelButtonText="Cancel"
        (resultEvent)="handleDeleteModalResult($event)">
    </app-modal>
</ng-template>
