<app-header>
    <ng-template [ngIf]="authService.isAuthorized$ | async">
        <p>{{ userStateFacade.name$ | async }}</p>
        <app-button buttonText="logout"
        (click)="logout()">
        </app-button>
    </ng-template>
</app-header>
<ng-template [ngIf]="userStateFacade.isAdmin$ | async">
    <app-info [title]="infoTitle" [text]="infoText">
        <app-button [buttonText]="infoButtonText"
        (click)="addCourse()">
        </app-button>
    </app-info>
</ng-template>
<app-search (searchEvent)="handleSearch($event)"></app-search>
<app-course-list 
    [courses]="courses"
    [editable]="userStateFacade.isAdmin$| async"
    (removeEvent)="removeItem($event)"
    (editEvent)="editItem($event)"
    (showEvent)="showItem($event)">
</app-course-list>
<ng-template [ngIf]="showDeleteModal">
    <app-modal
        title="Are you sure?"
        message="Do you want to delete the course?"
        okButtonText="OK"
        cancelButtonText="Cancel"
        (resultEvent)="handleDeleteModalResult($event)">
    </app-modal>
</ng-template>
